<h1>StripeWebhooks (<%= @stripe_webhooks.total_count %> total)</h1>

<table class="table table-hover table-striped">
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Stripe ID</th>
  </tr>
  <% @stripe_webhooks.each do |stripe_webhook| %>
    <tr>
      <td><%= link_to stripe_webhook.id, stripe_webhook_path(stripe_webhook.id) %></td>
      <td><%= time_ago_in_words(stripe_webhook.created_at) %> ago</td>
      <td><%= stripe_webhook.stripe_id %></td>
    </tr>
  <% end %>
</table>
<nav>
  <%= paginate @stripe_webhooks, :theme => 'bootstrap' %>
</nav>

