<!DOCTYPE html>
<html>
<head>
  <title>PayolaSpy</title>
  <%= stylesheet_link_tag    "payola_spy/application", media: "all" %>
  <%= javascript_include_tag "payola_spy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/payola_spy/header' %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
